.movies {
  h1 {
    margin-top: 40px;
  }
  .stats {
    margin-top: 20px;
    padding: 15px 20px;
    border: 1px solid #efefef;
    &-header {
      font-weight: 600;
      padding: 0;
      margin: 0;
    }
    &-item {
      margin-top: 15px;
      span {
        font-weight: bold;
      }
    }
  }

  &-data {
    margin-top: 50px;
    &-movie {
      &-imgCont {
        width: 100%;
        img {
          width: 100%;
        }
      }
      &-body {
        padding: 20px 40px;
        border: 1px solid #efefef;
        &-title {
          text-align: center;
          height: 65px;
        }
        &-rating {
          text-align: center;
          display: block;
          margin-top: 20px;
          font-size: 18px;
        }
      }
    }
  }

  &-pagination {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}

.movie{
    &-title{
        margin-bottom: 40px;
    }
    
    &-rating{
        margin-bottom: 40px;
    }
}

.modal{
  display: block !important;
}